name: Schedule Data Update

on:
  schedule:
    - cron: "0 */6 * * *"  # 6시간마다 실행
  workflow_dispatch:

jobs:
  update-data:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Show working directory (debug)
      run: |
        echo "PWD:"
        pwd
        echo "List:"
        ls -R .

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: pip install -r backend/requirements.txt

    - name: Run Python script
      run: |
        python backend/ocr_importer_local.py

    - name: Commit and push JSON file
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"
        git add Map/Public/menu_data.json
        git commit -m "Update menu data" || echo "No changes to commit"
        git push
